{# app/Resources/views/product/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Product List </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>description</th>
        <th>category</th>
        <th>features</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category.name}}</td>
            <td>
            {% for feature in product.features %}
                {{ feature.name }}
            {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
