<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        <h3>Concerts Management</h3>
        <div id="menu">
            {% block upperbar1 %}
                <a href="/selectAllConcerts">List</a>
                <a href="/insertConcert">Insert</a>
                <a href="/selectConcert">Select</a>
                <a href="/updateConcert">Update</a>
                <a href="/removeConcert">Remove</a>
                <a href="/selectConcertByDates">Select by Dates</a>
                <br>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
