{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Product Application{% endblock %}</title>
    </head>
    <body>
        <h3>Product Management</h3>
        <div id="upperbar1">
            {% block upperbar1 %}
                <a href="/selectAllProducts">List</a>
                <a href="/insertProduct">Insert</a>
                <a href="/selectProduct">Select</a>
                <a href="/updateProduct">Update</a>
                <a href="/removeProduct">Remove</a>
                <a href="/selectProductsByCategory">Select by category</a>
                <br>
            {% endblock %}
        </div>
        <h3>Customer Management</h3>
        <div id="upperbar2">
            {% block upperbar2 %}
                <a href="/selectAllCustomers">List</a>
                <a href="/insertCustomer">Insert</a>
                <a href="/selectCustomer">Select</a>
                <a href="/updateCustomer">Update</a>
                <a href="/removeCustomer">Remove</a>
                <br> <hr> <br>
            {% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>


