{# app/Resources/views/product/content.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <h3> Product List </h3>
<table border="1">
    <tr>
        <th>id</th>
        <th>nom</th>
        <th>grup</th>
        <th>data</th>
        <th>ciutat</th>
        <th>espai</th>
    </tr>
    {% for concert in concerts %}
        <tr>
            <td>{{ concert.id }}</td>
            <td>{{ concert.nom }}</td>
            <td>{{ concert.grup }}</td>
            <td>{{ concert.data is empty ? "" : concert.data|date("m/d/Y")  }}</td>
            <td>{{ concert.ciutat}}</td>
            <td>{{ concert.espai}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
