@import url("main.css");


/********************************************************************/
/* Squares */
/********************************************************************/

#squaresDivPlayer{
    position: absolute;
    top: 80px;
    left: 1225px;
    width: 250px;
    height: 250px;
    background: gray;
    overflow: auto;
}

.squaresPlayer{
    float: left;
    border: white 1px solid;
    width: 123px;
    height: 123px;
}

.squaresShowPlayers{
    float: left;
    width: 45px;
    height: 45px;
    background: gray;
    margin: 7.5px;
}

.squaresShow{
    float: left;
    border: white 1px solid;
    width: 45%;
    height: 45%;
}

.square1Player1{
    background: transparent !important;
}

.square2Player1{
    background: transparent !important;
}

.square3Player1{
    background: transparent !important;
}

.square4Player1{
    background: transparent !important;
}

.square1Player2{
    background: transparent !important;
}

.square2Player2{
    background: transparent !important;
}

.square3Player2{
    background: transparent !important;
}

.square4Player2{
    background: transparent !important;
}

.square1Player3{
    background: transparent !important;
}

.square2Player3{
    background: transparent !important;
}

.square3Player3{
    background: transparent !important;
}

.square4Player3{
    background: transparent !important;
}

.square1Player4{
    background: transparent !important;
}

.square2Player4{
    background: transparent !important;
}

.square3Player4{
    background: transparent !important;
}

.square4Player4{
    background: transparent !important;
}

/********************************************************************/
/* Categoria casella */
/********************************************************************/

.sports{
    background: red;
}

.programming{
    background: green;
}

.psychology{
    background: blue;
}

.movies{
    background: orange;
}

.battle{
    background: gray;
}


/********************************************************************/
/* Dice Elements */
/********************************************************************/

#diceBtn{
    width: 150px;
    position: absolute;
    top: 700px;
    left: 1225px;
}

#dice{
    width: 150px;
    position: absolute;
    top: 675px;
    left: 1225px;
}

/********************************************************************/
/* Tipus fitxes */
/********************************************************************/

.fitxa{
    width: 25%;
    height: 25%;
    margin: 15px;
    border-radius: 25px;
    float: left;
}

.fitxaP{
    width: 25%;
    height: 25%;
    margin: 9px;
    border-radius: 25px;
    float: left;
}

.fitxaG{
    width: 25%;
    height: 25%;
    margin: 25px;
    border-radius: 25px;
    float: left;
}

.fitxaTorn{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 25px;
    float: left;
}

/********************************************************************/
/* Players */
/********************************************************************/

/* Color fitxes players */

.showPlayers{
    position: absolute;
    top: 380px;
    left: 1200px;
    background: transparent;
    width: 275px;
    height: 275px;
    color: white;
    text-align: center;
}

.titleShowPlayers{
    font-size: 20px;
}

.turnDiv{
    width: 275px;
    height: 60px;
    background: gray;
    border: 1px solid white;
    overflow: hidden;
    text-align: left;
    float: left;
}

.turn{
    color: white;
    font-size: 2.5em;;
    float: left;
}

.player1{
    background: pink;
}

.player2{
    background: chartreuse;
}

.player3{
    background: chocolate;
}

.player4{
    background: gold;
}

.namePlayer{
    float: left;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: 15px;
    width: 80px;
    overflow: hidden;
}

/********************************************************************/
/* Caselles */
/********************************************************************/


/* Cercle exterior */
.casella{
    position: absolute;
}

.casella:hover{
    opacity: 0.6;
}

#c0{
    top: 80px;
    left: 600px;
}

#c1{
    top: 80px;
    left: 740px;
}

#c2{
    top: 80px;
    left: 830px;
}

#c3{
    top: 80px;
    left: 920px;
}

#c4{
    top: 80px;
    left: 1010px;
}

#c5{
    top: 80px;
    left: 1100px;
}

#c6{
    top: 170px;
    left: 1100px;
}

#c7{
    top: 260px;
    left: 1100px;
}

#c8{
    top: 350px;
    left: 1100px;
}

#c9{
    top: 440px;
    left: 1100px;
}

#c10{
    top: 530px;
    left: 1050px;
}

#c11{
    top: 670px;
    left: 1100px;
}

#c12{
    top: 760px;
    left: 1100px;
}

#c13{
    top: 850px;
    left: 1100px;
}

#c14{
    top: 940px;
    left: 1100px;
}

#c15{
    top: 1030px;
    left: 1100px;
}

#c16{
    top: 1030px;
    left: 1010px;
}

#c17{
    top: 1030px;
    left: 920px;
}

#c18{
    top: 1030px;
    left: 830px;
}

#c19{
    top: 1030px;
    left: 740px;
}

#c20{
    top: 980px;
    left: 600px;
}

#c21{
    top: 1030px;
    left: 510px;
}

#c22{
    top: 1030px;
    left: 420px;
}

#c23{
    top: 1030px;
    left: 330px;
}

#c24{
    top: 1030px;
    left: 240px;
}

#c25{
    top: 1030px;
    left: 150px;
}

#c26{
    top: 940px;
    left: 150px;
}

#c27{
    top: 850px;
    left: 150px;
}

#c28{
    top: 760px;
    left: 150px;
}

#c29{
    top: 670px;
    left: 150px;
}

#c30{
    top: 530px;
    left: 150px;
}

#c31{
    top: 440px;
    left: 150px;
}

#c32{
    top: 350px;
    left: 150px;
}

#c33{
    top: 260px;
    left: 150px;
}

#c34{
    top: 170px;
    left: 150px;
}


#c35{
    top: 80px;
    left: 150px;
}

#c36{
    top: 80px;
    left: 240px;
}

#c37{
    top: 80px;
    left: 330px;
}

#c38{
    top: 80px;
    left: 420px;
}

#c39{
    top: 80px;
    left: 510px;
}

#c40{
    top: 80px;
    left: 1280px;
}

#c41{
    top: 80px;
    left: 1280px;
}

/* Línia 1 */

#l1c0{
    top: 220px;
    left: 625px;
}

#l1c1{
    top: 310px;
    left: 625px;
}

#l1c2{
    top: 400px;
    left: 625px;
}

/* Línia 2 */

#l2c0{
    top: 555px;
    left: 960px;
}

#l2c1{
    top: 555px;
    left: 870px;
}

#l2c2{
    top: 555px;
    left: 780px;
}

/* Línia 3 */

#l3c0{
    top: 890px;
    left: 625px;
}

#l3c1{
    top: 800px;
    left: 625px;
}

#l3c2{
    top: 710px;
    left: 625px;
}

/* Línia 4 */

#l4c0{
    top: 555px;
    left: 290px;
}

#l4c1{
    top: 555px;
    left: 380px;
}

#l4c2{
    top: 555px;
    left: 470px;
}

/* center */

#center{
    top: 490px;
    left: 560px;
}

/********************************************************************/
/* Tipus casella */
/********************************************************************/

.t1{
    width: 125px;
    height: 125px;
}

.t2{
    width: 75px;
    height: 75px;
    overflow: auto;
}

.t3{
    width: 205px;
    height: 205px;
}

/********************************************************************/
/* Transitions */
/********************************************************************/

.moveOption {
    animation: moveOption 1s infinite alternate ease;
}

@keyframes moveOption {
  0%{
    
  }
  100%{
    transform: scale(1.1,1.1);
  }
}