{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <table border="1" id="currentGames">
            <tr>
                <th>Game ID</th>
                <th>Jugadors</th>
                <th>Entrada</th>
            </tr>
            {% for game in games %}
                <tr>
                    <td>{{ game.1 }}</td>
                    <td>{{ game.2 }}/4</td>
                    <td><a href="/game/{{ game.1 }}">Jugar</a></td>
                </tr>
            {% endfor %}
        </table>
        <button id="newGame"></button>
    {% else %}
        <h2>Error: You are not logged!</h2>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/gamesList.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/gamesList.js') }}"></script>
{% endblock %}