{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div id="mainContent">
            <div id="caselles">
                <div id="c0" class="sports a1 casella t1"></div>
                <div id="c1" class="programming a1 casella t2"></div>
                <div id="c2" class="sports a1 casella t2"></div>
                <div id="c3" class="psychology a1 casella t2"></div>
                <div id="c4" class="movies a1 casella t2"></div>
                <div id="c5" class="sports a1 casella t2"></div>
                <div id="c6" class="movies a1 casella t2"></div>
                <div id="c7" class="psychology a1 casella t2"></div>
                <div id="c8" class="programming a1 casella t2"></div>
                <div id="c9" class="movies a1 casella t2"></div>
                <div id="c10" class="psychology a1 casella t1"></div>
                <div id="c11" class="movies a1 casella t2"></div>
                <div id="c12" class="programming a1 casella t2"></div>
                <div id="c13" class="psychology a1 casella t2"></div>
                <div id="c14" class="sports a1 casella t2"></div>
                <div id="c15" class="movies a1 casella t2"></div>
                <div id="c16" class="programming a1 casella t2"></div>
                <div id="c17" class="movies a1 casella t2"></div>
                <div id="c18" class="psychology a1 casella t2"></div>
                <div id="c19" class="sports a1 casella t2"></div>
                <div id="c20" class="programming a1 casella t1"></div>
                <div id="c21" class="sports a1 casella t2"></div>
                <div id="c22" class="programming a1 casella t2"></div>
                <div id="c23" class="psychology a1 casella t2"></div>
                <div id="c24" class="movies a1 casella t2"></div>
                <div id="c25" class="psychology a1 casella t2"></div>
                <div id="c26" class="movies a1 casella t2"></div>
                <div id="c27" class="programming a1 casella t2"></div>
                <div id="c28" class="movies a1 casella t2"></div>
                <div id="c29" class="psychology a1 casella t2"></div>
                <div id="c30" class="movies a1 casella t1"></div>
                <div id="c31" class="psychology a1 casella t2"></div>
                <div id="c32" class="movies a1 casella t2"></div>
                <div id="c33" class="sports a1 casella t2"></div>
                <div id="c34" class="psychology a1 casella t2"></div>
                <div id="c35" class="movies a1 casella t2"></div>
                <div id="c36" class="psychology a1 casella t2"></div>
                <div id="c37" class="sports a1 casella t2"></div>
                <div id="c38" class="movies a1 casella t2"></div>
                <div id="c39" class="programming a1 casella t2"></div>

                <div id="l1c0" class="programming a2 casella t2"></div>
                <div id="l1c1" class="movies a2 casella t2"></div>
                <div id="l1c2" class="programming a2 casella t2"></div>

                <div id="l2c0" class="movies a3 casella t2"></div>
                <div id="l2c1" class="programming a3 casella t2"></div>
                <div id="l2c2" class="movies a3 casella t2"></div>
                
                <div id="l3c0" class="sports a4 casella t2"></div>
                <div id="l3c1" class="programming a4 casella t2"></div>
                <div id="l3c2" class="movies a4 casella t2"></div>
                
                <div id="l4c0" class="psychology a5 casella t2"></div>
                <div id="l4c1" class="sports a5 casella t2"></div>
                <div id="l4c2" class="programming a5 casella t2"></div>
                
                <div id="center" class="battle casella t3"></div>

                <div id="squaresDivPlayer">
                    <div class="squaresPlayer square1 sports"></div>
                    <div class="squaresPlayer square2 programming"></div>
                    <div class="squaresPlayer square3 psychology"></div>
                    <div class="squaresPlayer square4 movies"></div>
                </div>

                <div class="showPlayers">
                    <div class="titleShowPlayers">Torn jugadors</div>
                    <div class="turnDiv">
                        <span class="turn">&#8640</span><div  class="fitxaTorn player1"></div><span class="namePlayer">Sergi</span><div class="squaresShowPlayers">
                            <div class="squaresShow square1Player1 sports"></div>
                            <div class="squaresShow square2Player1 programming"></div>
                            <div class="squaresShow square3Player1 psychology"></div>
                            <div class="squaresShow square4Player1 movies"></div></div>
                    </div>
                    <div class="turnDiv">
                        <span class="turn">&#8640</span><div  class="fitxaTorn player2"></div><span class="namePlayer">Sergi</span><div class="squaresShowPlayers">
                            <div class="squaresShow square1Player2 sports"></div>
                            <div class="squaresShow square2Player2 programming"></div>
                            <div class="squaresShow square3Player2 psychology"></div>
                            <div class="squaresShow square4Player2 movies"></div></div>
                    </div>
                    <div class="turnDiv">
                        <span class="turn">&#8640</span><div  class="fitxaTorn player3"></div><span class="namePlayer">Sergi</span><div class="squaresShowPlayers">
                            <div class="squaresShow square1Player3 sports"></div>
                            <div class="squaresShow square2Player3 programming"></div>
                            <div class="squaresShow square3Player3 psychology"></div>
                            <div class="squaresShow square4Player3 movies"></div></div>
                    </div>
                    <div class="turnDiv">
                        <span class="turn">&#8640</span><div  class="fitxaTorn player4"></div><span class="namePlayer">Sergi</span><div class="squaresShowPlayers">
                            <div class="squaresShow square1Player4 sports"></div>
                            <div class="squaresShow square2Player4 programming"></div>
                            <div class="squaresShow square3Player4 psychology"></div>
                            <div class="squaresShow square4Player4 movies"></div></div>
                    </div>
                </div>

                <button id="diceBtn">Tirar daus</button>
                <input id="dice" type="text" disabled>

            </div>
        </div>
    {% else %}
        <h2 class="error">Error: You are not logged!</h2>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/game.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <script src="{{ asset('js/game.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    {% endif %}
{% endblock %}