{% extends 'base.html.twig' %}

{% block body %}
    <div id="links">
        <ul>
            <a href="/login"</a>Login</a>
            <a href="/register"</a>Register</a>
            <a href="/logout"</a>Reset</a>
            <a href="/games"</a>Games</a>
            <a href="/game"</a>Game</a>
        </ul>
    </div>
{% endblock %}


